/* global styles */
body{
    background-color: black;
}

/* header sytles */
header {
    background-color: #1D618F;
    padding: 5px 10px 20px 20px; 
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    text-align: left;
    padding: 10px 20px;
}

button{
    display:flex;
    background-color: darkorchid;
    border:black;
    color:black;
    padding: 10px 5px;
    font-size: 16px;
    margin:20px 5px;
    border-radius: 12px;
}


button:hover {
    background-color: orchid;
    color: white;
}

button:active {
    background-color: #8e3e63;
}

.button-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


.push{
    margin-left: auto;
    
}


/*main styles*/
main{
    background-color: #2C95DB;
}

.title-section {
    background-color: darkseagreen;

}

h2{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    padding: 10px 0px;
}

p{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: left;
    padding: 10px 0px;
}

/*homepage*/
.homepage-section{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*CARP*/


.CARP-box{
    background-color: black;
}

.CARP-container{
    background-color: #2C95DB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ca-box{
    margin: 10px 20px;
    height: 700px;
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
    flex-direction: column; 
}

.CARP-image{
    width: 20%;
}

/*coding*/
.coding-box{
    background-color: black;
}

.coding-container{
    background-color: #2C95DB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.c-box{
    margin: 10px 20px;
    height: 700px;
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
    flex-direction: column; 
}


/*typography*/

.grid-container{
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


.typography-image{
    width: 30%;
}

.typography-trans-image{
    width: 26%;
}




/*reflection*/
.reflection-section{
    height: 800px;
    display: flex;
   /* flex-direction: column;
    align-items: flex-start;*/
}

.reflection-text{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: right;
    padding: 10px 20px;
}


.space{
    background-color: black;
    height:20px;
}


/*footer*/
footer {
    background-color: #1D618F;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    color: white;
    padding: 10px 0px;
}







